:root {
  --clr-primary-green-500: hsl(171, 66%, 44%);
  --clr-primary-blue-100: hsl(233, 100%, 69%);
  --clr-neutral-700: hsl(210, 10%, 33%);
  --clr-neutral-500: hsl(201, 11%, 66%);  
  --ff-main: 'Bai Jamjuree', sans-serif;
  --fs-body: 1.15rem;
  --mw-main: 550px;
}
